* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
  font-size: 11px;
  line-height: 1.5;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 25%;
}
.container__fluid--rating,
.conatainer__fluid--thank-you {
  background: radial-gradient(
    circle at top,
    hsl(215, 19%, 18%),
    hsla(215, 19%, 18%, 0.3)
  );
  padding: 28px;
  border-radius: 12px;
}
.conatainer__fluid--thank-you {
  text-align: center;
}
.star--icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(217, 20%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.star--icon img {
  width: 100%;
}
.container__fluid--rating h2,
.conatainer__fluid--thank-you h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 22px;
  word-spacing: 3px;
  margin-top: 24px;
}

.container__fluid--rating p,
.conatainer__fluid--thank-you p {
  color: hsl(216, 12%, 54%);
  margin: 10px 0;
  font-size: 0.85rem;
}
.button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s;
}
.rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn__rating {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: hsl(217, 20%, 18%);
  color: hsl(216, 12%, 54%);
  padding: 12px;
  margin: 12px 0;
  font-weight: bold;
}
.btn__rating:hover,
.btn__rating:active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
.btn__rating:focus {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}
.btn__submit {
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 10px 0 8px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
  letter-spacing: 2px;
}
.btn__submit:hover,
.btn__submit:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}
.btn__thank-you {
  background-color: hsla(213, 20%, 18%, 0.85);
  color: hsl(25, 97%, 53%);
  padding: 8px 16px;
  border-radius: 25px;
}

.thank-you--icon {
  margin: 20px auto;
}
.hidden {
  display: none;
}
