/* - Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  width: 100%;
  height: 100vh;
  line-height: 1.5;
}
.container {
  width: 55%;
}
.container-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  background-color: #fff;
  border-radius: 20px;
}
.left-wrapper {
  background: url(images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.right-wrapper {
  padding: 40px 50px 25px 50px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.right-wrapper h2 {
  color: hsl(217, 19%, 35%);
  font-size: 1.35rem;
}
.right-wrapper h2,
.right-wrapper > p {
  padding-right: 10px;
}
p {
  color: hsl(212, 23%, 69%);
  font-size: 0.88rem;
}
.avatar-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.avatar-profile {
  display: flex;
  gap: 15px;
}

.avatar-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
.share-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-icon:hover {
  background-color: hsl(217, 19%, 35%);
}
/* .share-icon img {
  color: #fff;
} */
.social__pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 62%;
  bottom: 38%;
  visibility: hidden;
}
.social-icon {
  background-color: hsl(217, 19%, 35%);
  padding: 18px 40px 12px 40px;
  border: 1px solid hsl(217, 19%, 35%);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19rem;
}
.pop-up__triangle {
  height: 30px;
  width: 30px;
  clip-path: polygon(0 0, 100% 0, 50% 50%);
  background-color: hsl(217, 19%, 35%);
}
.social-icon p {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.95rem;
}
.social-icon img {
  width: 110%;
}
.active {
  visibility: visible;
}
